<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Kahoza" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.facebook.com/karen.hoyoszapata" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/karen-hoyos-99b52a136/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
