.footer {
  background:$light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: gray;
  font-size: 15px;
}
.footer-links {
  display: flex;
  align-items: center;
  a {
    color: $dark-blue;
    // opacity: 0.3;
    text-decoration: none;
    font-size: 35px;
    padding: 0px 10px;
    margin-right: 10px;
    :hover {
      opacity: 0.3;
    }
  }
}

.footer .fa-heart {
  color: #D23333;
  font-size: 20px;
}

