---
title: Le Wagon - Middleman
---

<!-- <div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.7) 0%, rgba(0,36,61,0.7) 50%), url('http://images.all-free-download.com/images/graphiclarge/travel_background_concept_6815657.jpg');">
  <div class="banner-content">
    <h1>Find your accommodation around the world</h1>
    <p>Stay in the heart of the city!</p>
    <a class="btn btn-primary btn-lg">Take me there</a>
    </div>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-category">Popular</div>
    <div class="card-description">
      <h2>Shanghai</h2>
      <p>Very cool city</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/random">
    <a class="card-link" href="#" ></a>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
    <div class="card-category">Popular</div>
    <div class="card-description">
      <h2>Barcelona</h2>
      <p>Discover Gaudi</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/random">
    <a class="card-link" href="#" ></a>
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/rio');">
    <div class="card-category">Popular</div>
    <div class="card-description">
      <h2>Le Wagon Rio</h2>
      <p>Enjoy their festivals</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/saunier">
    <a class="card-link" href="#" ></a>
  </div>



